<html>
    <script src="static/js/jquery.js"></script><pre style="width:100px;">
<body style="width:100px; float:left; padding:20px">
    
    
<script> 

var x = {{body|safe}};  
var y = JSON.stringify(x,null,'\t');
//document.body.innerHTML = y;
$('pre').html(y)

</script>
</body></pre></html>