<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <title>User Profile</title>
      <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
      <script src="{{ url_for('static', filename='js/vendor/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/foundation.js') }}"></script>--> 
      <script> 
        $(document).foundation();
      </script>  
      <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    </head>

    <body>
        
        <div class="row">
      <div class="large-8 columns">
        
        <div id="googleMap" style="width:700px;height:500px;"></div> 
          
            </div>
          
        <div class="large-4 columns">            
        {% if data2 != 0 %}
            {% for clusters in data2 %}
            <div class="panel">
                <h2>Cluster Id = {{ clusters.cluster_id }}</h2>
                <ul>
                    <li>Cluster Size (numper of points) = {{ clusters.cluster_data.cluster_size }} </li>
                    <li>Cluster Latitude = {{ '%0.3f' | format(clusters.cluster_data.cluster_latitude_mean) }} +- {{ '%0.5f' | format(clusters.cluster_data.cluster_latitude_std) }}</li>
                    <li>Cluster Longitude = {{ '%0.3f' | format(clusters.cluster_data.cluster_longitude_mean) }} +- {{ '%0.5f' | format(clusters.cluster_data.cluster_longitude_std) }}</li>
                    <li>Cluster Time (hh:mm) = {{'%02d' | format(clusters.cluster_data.cluster_time_of_day_mean/60)}}:{{'%02d' | format(clusters.cluster_data.cluster_time_of_day_mean%60)}} +- {{ '%02d' | format(clusters.cluster_data.cluster_time_of_day_std/60)}}:{{ '%02d' | format(clusters.cluster_data.cluster_time_of_day_std%60)}}</li>
                </ul>
             </div>
            {% endfor %}
        {% endif %}
            </div>
        </div>
    
        
        
        
        
        
        
        <script src="http://maps.googleapis.com/maps/api/js"></script>
            
      <script>      
          var lat = {{data.latitudes|safe}}
          var long = {{data.longitudes|safe}}
          var start_time = {{data.timestamps|safe}}     
          var dataloc= [];
          var infodata = [];

          //the center is manually chosen to fit all the markers optimally at the set screen size and zoom level
          var mycenter = new google.maps.LatLng(36, 51);


          //populating the database(1.location-for the marker, and 2.information-for the info window) using the pasted data from the csv files
          for (a = 0; a < lat.length; a++){
              dataloc[a] = new google.maps.LatLng(parseFloat(lat[a]), parseFloat(long[a]));
              infodata[a] = '<div id="bg"><h4 class="title">' + 'Latitude: ' + lat[a] + ', Longitude: ' +  long[a] + '</h4> <h5 class="start_time">' + 'Start Time (yyyymmddhhmm+offset) = ' + start_time[a] + '</h5> </div>';
          }

          //function which will be called each time a marker is created
          function newMarker(param) {
              
              var mark = new google.maps.Marker({
              map: param.mapp,
              position: param.positionn,
              });

              //subroutine to attach the click event listener and associated info window to the created marker
              if (param.data) {
                    google.maps.event.addListener(mark, 'click', function() {
                        // this -> the marker to which the event is linked
                        if (!this.getMap()._infoWindow) {
                            this.getMap()._infoWindow = new google.maps.InfoWindow();
                        }
                        this.getMap()._infoWindow.close();
                        this.getMap()._infoWindow.setContent(param.data);
                        this.getMap()._infoWindow.open(this.getMap(), this);
                    });
               }              
               return mark;
        }


        //main function which is called each time the html page is loaded on a browser
        function initialize()
        {
            //define properties of the map object
            var mapProp = {
                center:mycenter,
                zoom:2,
                mapTypeId:google.maps.MapTypeId.ROADMAP
            };

            //initialize a new map object with the above properties
            var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

            //main loop: create a new marker for each data entry in the given csv file
            for (i = 0; i < lat.length; i++){
                //filter on duration
                //if (duration[i]/60000 > 300){
                var marker = newMarker({
                    positionn: dataloc[i],
                    data: infodata[i],
                    mapp: map
                });
                //}
            }
        }
          
        google.maps.event.addDomListener(window, 'load', initialize);
          
        </script>
        
        
        
        
        
    </body>
</html>