{% extends "dashgum/cluster_base.html" %}

{% block content %}

<section id="main-content">
          <section class="wrapper site-min-height">
            <h3><i class="fa fa-angle-right"></i> Nearby Places</h3>
            <div class="row mt">                                                 
                
          {% if data != 0 %}      
          {% for type in data.types %}
        <div class="col-sm-3 ds">                   
            <h3>{{type.type_name}}</h3>
            {% for typed_data in type.type_data %}
            <!--<div class="panel">-->
            <div class="desc">
                        <div class="thumb">
                          <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                        </div>
                        <div class="details">                                                  
                            <p><strong>{{typed_data.name}}</strong></p>
               
                    <p>{{typed_data.vicinity}}</p>
                            <p>Category:</p>
                     <p><muted>
                    {% for category in typed_data.types %}
                             
                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   {{category}} <br>
                             
                    {% endfor %}                         
                    </muted></p>
                            
                            
                            </div>
                      </div>             
            {% endfor %}       
            <!--</div>-->
                </div>
                {%endfor%}
                 {% endif %}
        </div>
      

      
    </section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              2014 - Alvarez.is
              <a href="blank#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->

      
      
      

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="http://maps.googleapis.com/maps/api/js"></script>
            
      <script>      
          var lat = {{data.latitudes|safe}}
          var long = {{data.longitudes|safe}}
          var start_time = {{data.timestamps|safe}}     
          var dataloc= [];
          var infodata = [];
          
          //for the clusters          
          var cluster_data = {{data2_for_javascript|safe}} 

          //the center is manually chosen to fit all the markers optimally at the set screen size and zoom level
          //var mycenter = new google.maps.LatLng(36, 51);
          var mycenter = new google.maps.LatLng(lat[0], long[0]);


          //populating the database(1.location-for the marker, and 2.information-for the info window) using the pasted data from the csv files
          for (a = 0; a < lat.length; a++){
              dataloc[a] = new google.maps.LatLng(parseFloat(lat[a]), parseFloat(long[a]));
              infodata[a] = '<div id="bg"><h4 class="title">' + 'Latitude: ' + lat[a] + ', Longitude: ' +  long[a] + '</h4> <h5 class="start_time">' + 'Start Time (yyyymmddhhmm+offset) = ' + start_time[a] + '</h5> </div>';
          }

          //function which will be called each time a marker is created
          function newMarker(param) {
              
              var mark = new google.maps.Marker({
              map: param.mapp,
              position: param.positionn,
              });

              //subroutine to attach the click event listener and associated info window to the created marker
              if (param.data) {
                    google.maps.event.addListener(mark, 'click', function() {
                        // this -> the marker to which the event is linked
                        if (!this.getMap()._infoWindow) {
                            this.getMap()._infoWindow = new google.maps.InfoWindow();
                        }
                        this.getMap()._infoWindow.close();
                        this.getMap()._infoWindow.setContent(param.data);
                        this.getMap()._infoWindow.open(this.getMap(), this);
                    });
               }              
               return mark;
        }

          
          //function which will be called each time a cluster marker is created
          function newClusterMarker(param) {
              
              var mark = new google.maps.Marker({
              map: param.mapp,
              position: param.positionn,
              animation:google.maps.Animation.BOUNCE,
              icon:'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'
              });

              //subroutine to attach the click event listener and associated info window to the created marker
              if (param.data) {
                    google.maps.event.addListener(mark, 'mouseover', function() {
                        // this -> the marker to which the event is linked
                        if (!this.getMap()._infoWindow) {
                            this.getMap()._infoWindow = new google.maps.InfoWindow();
                        }
                        this.getMap()._infoWindow.close();
                        this.getMap()._infoWindow.setContent(param.data);
                        this.getMap()._infoWindow.open(this.getMap(), this);
                    });
               }              
               return mark;
        }
          

        //main function which is called each time the html page is loaded on a browser
        function initialize()
        {
            //define properties of the map object
            var mapProp = {
                center:mycenter,
                zoom:12,
                mapTypeId:google.maps.MapTypeId.ROADMAP
            };

            //initialize a new map object with the above properties
            var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

            //main loop: create a new marker for each data entry in the given csv file
            for (i = 0; i < lat.length; i++){
                //filter on duration
                //if (duration[i]/60000 > 300){
                var marker = newMarker({
                    positionn: dataloc[i],
                    data: infodata[i],
                    mapp: map
                });
                //}
            }                        
            
            for (i = 0; i < cluster_data.length; i++){
                
                var cluster_lat = cluster_data[i].cluster_data.cluster_latitude_mean
                var cluster_long = cluster_data[i].cluster_data.cluster_longitude_mean
                var cluster_loc_name = cluster_data[i].cluster_data.cluster_location_name
                var cluster_dataloc = new google.maps.LatLng(parseFloat(cluster_lat), parseFloat(cluster_long));
                
                var cluster_marker = newClusterMarker({
                    positionn: cluster_dataloc,
                    data: cluster_loc_name,
                    mapp: map
                });                                                                            
            }
            
        }
          
        google.maps.event.addDomListener(window, 'load', initialize);
          
        </script>

{% endblock %}